.container-title {
    position: absolute;
    display: inline-block;
    background-color: #37474f;
    box-shadow: 10px 10px black;
    margin-top: 116px;
    margin-left: 91px;
    text-align: center; /* text align funciona nos filhos, no caso centraliza os 2 title dentro da caixa */
    padding: 37px 14px; /* não precisa definir altura pois os filhos já iram definir com o paddding */
}
