/* Header-main */

header {
    display: flex;
    justify-content: space-between;
    background-color: #ef9a9a;
    border-bottom: 10px solid black;
    padding: 10px 20px;
}

header img {
    width: 160px;
    height: 60px;
}

.link {
    display: inline-flex; /*igual o block porem o block nao deixa nada ficar do lado dele, ja o flex deixa */
    align-items: center;
    font-family: "Fira-Code", monospace;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
    transition: 200ms linear;
}

.link::before {
    content: "";
    background-color: #7986cb;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.button-download {
    display: inline-block; /* link vem com display:inline; por padrao, e nao deixa colocar altura nem largura */
    background-color: #7986cb;
    height: 60px;
    padding: 0px 20px;
    line-height: 60px;
    box-shadow: 4px 4px black;
    margin-right: 0px;
    transition: 100ms linear;
}

.button-download:hover {
    transform: scale(1.08);
    background-color: #fff;
    color: #7986cb;
    cursor: pointer;
}

.link:hover {
    color: #7986cb;
    transform: scale(1.08);
}
/* Section-main */

.section-main {
    display: flex;
    flex-direction: column;
}

.container-img {
    position: relative;
    filter: grayscale(0.5);
}

.container-title {
    position: absolute;
    display: inline-block;
    background-color: #37474f;
    width: 627px;
    height: 184px;
    box-shadow: 10px 10px black;
    margin-top: 116px;
    margin-left: 91px;
}

.title-one {
    font-family: "Press Start 2P";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #7986cb;
    padding-top: 37px;
    text-align: center;
    text-shadow: 4px 4px #000;
}

.title-two {
    font-family: "Press Start 2P";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #fff;
    padding-top: 33px;
    text-align: center;
    text-shadow: 4px 4px #000;
}

.container-button {
    position: absolute;
}

.download-cv {
    width: 170px;
    height: 60px;
    padding: 0 0px;
    margin-left: 181px;
    margin-top: 338px;
    text-align: center;
}

.contatos {
    padding: 0 0px;
    margin-left: 112px;
    width: 170px;
    height: 60px;
    text-align: center;
}
