/* Section-main */

.section-main {
    display: flex;
    flex-direction: column;
}

.container-img {
    position: relative;
}

.container-button {
    position: absolute;
}

.download-cv {
    margin-left: 181px;
    margin-top: 338px;
}

.contatos {
    margin-left: 112px;
}
